@font-face {
  font-family: comic;
  src: url(fonts/Domma.ttf);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  background-color: rgb(209, 77, 114);
  color: #000000;
  user-select: none;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 30px auto;
}

img {
  width: 50px;
  margin: 0 auto;
}

#cat-picture {
  width: 150px;
}

input {
  color: #000000;
  background-color: #dce1eb;
  border: 0;
  padding: 15px;
  border-radius: 8px;
  font-size: 20px;
  text-align: center;
  font-family: "Rubik", sans-serif;
}

button {
  color: #000000;
  background-color: rgb(255, 171, 171);
  border: 0;
  padding: 10px;
  border-radius: 8px;
  font-size: 20px;
  text-align: center;
  font-family: "Rubik", sans-serif;
  background-position: center;
  transition: background 0.8s;
  margin-top: 10px;
  align-self: center;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
}

button:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}

/*
button:hover {
    background-color: #0bd537;
    cursor: pointer;
}
*/
ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

ul li {
  font-size: 20px;
  background-color: rgb(252, 200, 209);
  padding: 15px;
  border-radius: 8px;
  flex-grow: 1;
  text-align: center;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  font-family: comic;
  font-size: 35px
}
/*
ul li:hover {
    background-color: #FFECC7;
    cursor: pointer;
}
*/

